<style>
  .markdown-body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }

  .footnotes {
    font-size: 0.8em;
    border-top: 1px solid;
  }

  .markdown-body summary h1,
  .markdown-body summary h2,
  .markdown-body summary h3,
  .markdown-body summary h4,
  .markdown-body summary h5,
  .markdown-body summary h6 {
    display: inline-block;
  }

  /* atkinson-hyperlegible-regular - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/atkinson-hyperlegible-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('/assets/fonts/atkinson-hyperlegible-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-regular.woff') format('woff'),
      /* Modern Browsers */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-regular.svg#AtkinsonHyperlegible') format('svg');
    /* Legacy iOS */
  }

  /* atkinson-hyperlegible-700 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/atkinson-hyperlegible-v10-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('/assets/fonts/atkinson-hyperlegible-v10-latin-700.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-700.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-700.woff') format('woff'),
      /* Modern Browsers */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-700.ttf') format('truetype'),
      /* Safari, Android, iOS */
      url('/assets/fonts/atkinson-hyperlegible-v10-latin-700.svg#AtkinsonHyperlegible') format('svg');
    /* Legacy iOS */
  }
</style>